#h{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}
body{
    text-align: center;
    background-image: linear-gradient(#29fffb 0%,#28cf0e 100%)
}
#n{
    margin-top: 10px;
}
img{
    margin-left:10px;
    margin-right:10px;
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#p1{
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    text-align: center;
}